.Timer {
  background: #282c34;
  width: 25em;
  height: 9em;
  border-radius: 0.5em;
  color: white;
  line-height: 0.1em;
  /* display: none; */
}

.topLayer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
  height: 2.5em;
}

.timerWidget {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: -1em;
}

.clock {
  display: flex;
  /* background: red; */
  justify-content: center;
  align-items: center;
  font-size: 20pt;
}

.clockButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* background: green; */
  width: 10em;
  color: white;
  cursor: pointer;
}

.startClock {
  border: 1px solid grey;
  padding: 1em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  border-radius: 0.75em;
}

.botLayer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 5em;
  cursor: pointer;
}

.horizontal {
  border-top: 1px solid white;
}
