body {
  background-color: #aec5c5;
}

.page {
  display: flex;
}

.leftPage {
  height: 95vh;
  width: 20em;
  background: red;
  margin: 0.5em;
  border-radius: 1em;
  overflow: hidden;
}

.mainMenu {
  color: white;
  text-align: center;
  padding-top: 1em;
}

.rightPage {
  display: flex;
  flex-direction: column;
  background: green;
  height: 95vh;
  width: 80vw;
  margin-top: 0.5em;
  margin-bottom: 1em;
  margin-right: 1em;
  overflow: hidden;
}

.topButtons {
  display: flex;
  justify-content: space-between;
  margin-top: -1em;
  background: yellow;
  min-width: 23.5em;
  width: 100%;
}

.logoButtons {
  display: flex;
  justify-content: space-between;
  background-color: blue;
  height: 7vh;
  width: 9em;
  min-width: 9em;
}

.signButtons {
  display: flex;
  background: teal;
  justify-content: space-between;
  height: 7vh;
  min-width: 13.5em;
  width: 13.5em;
  padding-left: auto;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  height: 1em;
  width: 3em;
  padding: 0.5em;
  border-radius: 0.5em;
}

.widgets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 0.5em;
  margin-top: 7.5em;
  background: yellow;
  min-width: 3.5em;
  width: 3.5em;
  min-height: 25em;
  height: 25em;
  border-radius: 0.5em;
}

hr {
  width: 3.3em;
}
