#page {
  display: flex;
  background: url(../public/assets/images/aot.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  font-family: "Montserrat", sans-serif;
}

.leftPage {
  height: 97.5vh;
  width: 20em;
  min-width: 20em;
  background: #282c34;
  margin: 0.5em;
  border-radius: 1em;
  overflow: hidden;
}

.mainMenu {
  color: white;
  padding-top: 1em;
}

.exploreRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 1.5em;
  height: 1em;
  width: 18em;
  /* background: green; */
  padding: 1em;
}

.exploreButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2d333b;
  padding: 0.35em;
  margin-left: -0.5em;
  border-radius: 0.5em;
}

#exploreIcon {
  margin-top: 0.25em;
  margin-right: 0.5em;
}

.minIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: blue; */
}

#exploreLine {
  width: 0.75em;
  color: white;
  border-color: white;
}

.shuffleHeader {
  display: flex;
  /* background: green; */
  justify-content: space-between;
  align-items: center;
  padding-right: 0.75em;
  padding-left: 0.75em;
  height: 2.5em;
}

.underShuffle {
  font-size: 0.6em;
  padding-left: 1.25em;
  color: grey;
}

.spacesMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: -1em;
}

.spacesTop {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* background-color: green; */
}

.spacesBot {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: -2em;
}

.spaceIcon {
  border: 1px solid grey;
  padding: 0.55em;
  border-radius: 0.5em;
  font-size: 20pt;
  transition: 0.3s;
}

.spaceIcon:hover {
  background-color: grey;
  cursor: pointer;
  transition: 0.3s;
}

.volumeControl {
  background-color: #30343c;
  height: 7.5em;
  width: 100%;
}

.volumeHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5em;
  padding-left: 1.25em;
  line-height: 0.5em;
}

.volumeName {
  padding-left: 0.75em;
}

#volumeTitle {
  font-size: 10pt;
}

#shareSpace {
  font-size: 8pt;
  color: grey;
}

.volumeIcons {
  display: flex;
  margin-right: 1em;
}

#vIcon1 {
  border: 1px solid grey;
  margin-right: 0.25em;
  padding: 0.5em;
  border-radius: 0.5em;
  color: orange;
  background-color: #2d333b;
  transition: 0.3s;
}

#vIcon1:hover {
  background-color: grey;
  transition: 0.3s;
}

#vIcon2 {
  border: 1px solid grey;
  margin-right: 0.25em;
  padding: 0.5em;
  border-radius: 0.5em;
  background-color: #2d333b;
  transition: 0.3s;
}

#vIcon2:hover {
  background-color: grey;
  transition: 0.3s;
}

.volumeFooter {
  display: flex;
  align-items: center;
  width: 10em;
  margin-left: 1.25em;
  margin-right: 1.25em;
  margin-top: 0.5em;
  /* background-color: green; */
}

#volumeHR {
  margin-left: 0.75em;
}

.spaceInfo {
  display: flex;
  /* background: red; */
  margin-top: 1em;
  width: 15em;
}

.imageCircle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  padding-left: 1.25em;
}

.infoImg {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../public/assets/images/gradient.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 2.75em;
  width: 2.75em;
  border-radius: 5em;
}

.infoCard {
  margin-top: 0.5em;
  line-height: 1em;
}

.infoCard p {
  font-size: 9pt;
}

.infoSocials {
  display: flex;
  justify-content: space-between;
  margin-right: 1em;
  margin-top: -1em;
  /* background: red; */
  width: 4.75em;
}

.menuFooter {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  /* background-color: green; */
  height: fit-content;
  margin-top: 21em;
}

.footerCard {
  display: flex;
}

.footerButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  height: 2.5em;
  width: fit-content;
  margin-right: 0.75em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 0.5em;
}

.rightPage {
  display: flex;
  flex-direction: column;
  /* background: green; */
  height: 95vh;
  width: 80vw;
  margin-top: 0.5em;
  margin-bottom: 1em;
  margin-right: 1em;
  overflow: hidden;
}

.topButtons {
  display: flex;
  justify-content: space-between;
  margin-top: -1em;
  /* background: yellow; */
  min-width: 23.5em;
  width: 100%;
}

.logoButtons {
  display: flex;
  justify-content: space-between;
  /* background-color: blue; */
  height: 7vh;
  width: 9em;
  min-width: 9em;
}

.signButtons {
  display: flex;
  /* background: teal; */
  justify-content: space-between;
  height: 7vh;
  min-width: 13.5em;
  width: 13.5em;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #282c34;
  height: 1.25em;
  width: fit-content;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  border-radius: 0.5em;
}

hr {
  width: 3.3em;
}
